// Главный файл, где пишутся и куда подключаются все стили проекта

// Адаптивное свойство - используется, если дизайнером предоставлен неполный макет,
// чтобы при уменьшении или увеличении экрана паддинги, размеры шрифта автоматически
// увеличивались / уменьшались в границах от десктопного значения до телефонного
// Подробнее: https://www.youtube.com/watch?v=eaOAY0vIB4U
$maxWidth: 1920; // Для масштабирования, например, текста, если экран будет увеличиваться и станет больше контейнера
$maxWidthContainer: 1200; // Для масштабирования, например, текста, если экран будет уменьшаться и станет меньше контейнера

// Импорт дополнительных файлов стилей и настроек
@import "variables";
@import "../../node_modules/normalize.css/normalize";
@import "start";
@import "mixins/font-face";
@import "mixins/adaptive-value";
@import "fonts";
@import "global";

// Основная часть
body {
  font-family: "Arodora Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.01em;
  color: #fff;
  background: linear-gradient(101.56deg, #2c2c2c 1.56%, #1c1c1c 95.55%);
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

html {
  overflow-x: hidden;
  &._fixed {
    overflow: hidden;
  }
}

// IM
.im {
  &__header {
    @include adaptive-value("padding-top", 26, 20, 1);
    @include adaptive-value("padding-bottom", 60, 20, 1);
  }
  &__main {
  }
}
.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }
  &__logo-wrapper {
    display: flex;
    align-items: center;
    transition: transform 0.4s;
    position: relative;
    z-index: 1001;
  }
  &__logo {
    path {
      transition: all 0.3s;
    }
  }
  &__logo-text {
    @include adaptive-value("padding-left", 10, 6, 1);
    font-family: "Nico Moji";
    @include adaptive-value("font-size", 18, 13, 1);
    line-height: 1;
  }
  &__menu {
    flex: 1 0 auto;
    margin-left: 97px;
    @include adaptive-value("margin-left", 97, 0, 1);
    @include adaptive-value("padding-right", 92, -160, 1);
  }
  &__nav {
    font-weight: 300;
    font-size: 18px;
    line-height: calc(21 / 18);
    color: #e4e4e4;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
  }
  &__item-link {
    transition: color 0.2s;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 0;
      height: 2px;
      border-radius: 2px;
      background: linear-gradient(87.32deg, #6278ec 4.47%, #29eea7 95.53%);
      transition: width 0.2s;
    }
    &--underlined {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background: linear-gradient(87.32deg, #6278ec 4.47%, #29eea7 95.53%);
      }
    }
  }
}
.welcome {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__contact {
    max-width: 460px;
  }
  &__caption {
    font-family: "NEXT ART";
    font-weight: 600;
    @include adaptive-value("font-size", 48, 20, 1);
    line-height: calc(54 / 48);
    color: #e4e4e4;
    @include adaptive-value("margin-bottom", 27, 15, 1);
    transition: transform 0.2s;
    display: block;
  }
  &__title {
    font-family: "NEXT ART";
    font-weight: 700;
    @include adaptive-value("font-size", 72, 30, 1);
    line-height: calc(82 / 72);
    color: #e4e4e4;
    @include adaptive-value("margin-bottom", 27, 15, 1);
    transition: transform 0.2s;
  }
  &__text {
    font-weight: 300;
    @include adaptive-value("font-size", 18, 14, 1);
    line-height: calc(21 / 18);
    color: #e4e4e4;
    @include adaptive-value("margin-bottom", 27, 15, 1);
    transition: transform 0.2s;
  }
  &__btn-link {
    font-family: "NEXT ART";
    font-weight: 700;
    @include adaptive-value("font-size", 18, 14, 1);
    line-height: calc(20 / 18);
    color: #000;
    background: linear-gradient(87.32deg, #6278ec 4.47%, #29eea7 95.53%);
    box-shadow: 0px 2px 13px rgba(64, 192, 195, 0.7);
    border-radius: 6px;
    @include adaptive-value("padding-top", 14, 12, 1);
    @include adaptive-value("padding-bottom", 14, 12, 1);
    @include adaptive-value("padding-left", 40, 30, 1);
    @include adaptive-value("padding-right", 40, 30, 1);
    transition: all 0.2s;
  }
  &__img-wrapper {
    line-height: 0;
    transition: transform 0.6s;
    transform-origin: bottom center;
    position: relative;
    z-index: 1;
  }
  &__img {
    line-height: 0;
    display: block;
    position: relative;
    bottom: -1px;
    filter: drop-shadow(0px 0px 152px rgba(0, 196, 240, 0.42));
  }
}

// ABOUT
.about {
  background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
  &__skills-list {
    display: flex;
    justify-content: center;
    @include adaptive-value("column-gap", 40, 10, 1);
    @include adaptive-value("row-gap", 40, 10, 1);
    flex-wrap: wrap;
    @include adaptive-value("margin-bottom", 183, 50, 1);
  }
  &__skills-item {
    flex: 0 0 270px;
    @include adaptive-value("flex-basis", 270, 150, 1);
    background: #2a2a2a;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
    border-radius: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptive-value("height", 270, 160, 1);
    flex-direction: column;
    justify-content: space-between;
    @include adaptive-value("padding-bottom", 50, 25, 1);
    @include adaptive-value("padding-top", 30, 15, 1);
    transition: all 0.3s;
  }
  &__skills-item-img-wrapper {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__skills-item-text {
    font-weight: 300;
    @include adaptive-value("font-size", 24, 14, 1);
    line-height: calc(29 / 24);
    color: #e4e4e4;
  }
  &__info-block {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-12%, -16%);
      width: 1300px;
      height: 1300px;
      background: url("../images/about/info/bg.png") center/contain no-repeat;
    }
  }
  &__info-text-wrapper {
    position: relative;
    margin: 0 auto;
    @include adaptive-value("padding", 63, 20, 1);
    border-radius: 14px;
    max-width: 496px;
    background: #2c2c2c;
  }
  &__info-text {
    font-weight: 300;
    @include adaptive-value("font-size", 20, 14, 1);
    line-height: calc(24 / 20);
    letter-spacing: 0.01em;
  }
  &__info-title {
    position: absolute;
    top: 0;
    left: 63px;
    transform: translateY(-50%);
    &::before {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: rgba(#fff, 0.8);
      opacity: 0;
      transition: all 0.2s;
    }
  }
  &__info-img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background: #2c2c2c;
    border-radius: 14px;
    padding: 30px;
    transition: transform 0.3s;
    &--1 {
      top: -47px;
      left: -297px;
    }
    &--2 {
      top: 150px;
      right: -304px;
      left: auto;
    }
    &--3 {
      top: auto;
      bottom: -45px;
      left: -267px;
    }
  }
  &__info-img {
  }
}

// PORTFOLIO
.portfolio {
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    width: 60px;
    height: 60px;
    background: linear-gradient(267.32deg, #6278ec 4.47%, #29eea7 95.53%);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
  }
  .swiper-button-next {
    right: 16%;
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      width: 36px;
      height: 36px;
      background: url("../images/global/arrow.svg") center/contain no-repeat;
      font-size: 0;
    }
  }
  .swiper-button-prev {
    left: 16%;
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-90deg);
      width: 36px;
      height: 36px;
      background: url("../images/global/arrow.svg") center/contain no-repeat;
      font-size: 0;
    }
  }
  &__title-wrapper {
    @include adaptive-value("margin-bottom", 50, 20, 1);
  }
  &__title {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: rgba(#fff, 0.8);
      opacity: 0;
      transition: all 0.2s;
    }
  }
  &__slider {
    overflow: visible;
  }
  &__swiper-wrapper {
    position: relative;
  }
  &__slide {
  }
  &__slide-inner {
    background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
    box-shadow: 0px 4px 15px rgba(27, 27, 27, 0.28);
    border-radius: 29px;
    @include adaptive-value("padding", 50, 20, 1);
    display: flex;
    align-items: center;
    max-width: 970px;
    margin: 0 auto;
  }
  &__slide-img-wrapper {
    margin-right: 81px;
    flex: 0 0 493px;
  }
  &__slide-img {
    border-radius: 30px;
  }
  &__text-wrapper {
    text-align: center;
  }
  &__text-title {
    font-style: normal;
    font-weight: 300;
    @include adaptive-value("font-size", 24, 16, 1);
    line-height: calc(29 / 24);
    @include adaptive-value("margin-bottom", 25, 10, 1);
  }
  &__text {
    font-weight: 300;
    @include adaptive-value("font-size", 18, 14, 1);
    line-height: calc(21 / 18);
    @include adaptive-value("margin-bottom", 25, 10, 1);
    text-align: center;
  }
  &__text-link {
    font-weight: 300;
    @include adaptive-value("font-size", 18, 14, 1);
    line-height: calc(21 / 18);
    background: linear-gradient(180deg, #6278ec 0%, #29eea7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding-right: 20px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 13px;
      height: 8px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background: url("../images/portfolio/arrow-right.svg") center/contain no-repeat;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: rgba(#6299ec, 0.5);
      transition: transform 0.2s, opacity 0.2s;
      opacity: 0;
      transform: translateY(10px);
      pointer-events: none;
    }
  }
}

// FOOTER
.footer {
  background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
  &__inner {
    max-width: 775px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__col {
    &:nth-of-type(3) {
      flex: 0 0 275px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  &__item {
    font-weight: 300;
    @include adaptive-value("font-size", 18, 14, 1);
    line-height: calc(21 / 18);
    color: #e4e4e4;
  }
  &__link {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 0;
      background-color: rgba(#fff, 0.6);
      transition: width 0.2s;
    }
  }
  &__item-text {
  }
  &__col-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptive-value("margin-bottom", 70, 40, 1);
  }
  &__col-logo-wrapper {
  }
  &__col-title-wrapper {
  }
  &__col-title {
    font-family: "Nico Moji";
    @include adaptive-value("font-size", 18, 14, 1);
    line-height: 1;
    text-align: center;
  }
  &__col-btn-wrapper {
  }
  &__col-btn {
    background: transparent;
    outline: none;
    border: none;
    padding: 12px;
    background: linear-gradient(177.32deg, #6278ec 4.47%, #29eea7 95.53%);
    border-radius: 50%;
    line-height: 0;
    cursor: pointer;
    transition: all 0.3s;
  }
  &__col-bottom {
  }
  &__col-bottom-text {
    font-weight: 300;
    @include adaptive-value("font-size", 18, 14, 1);
    line-height: calc(21 / 18);
    align-items: center;
    color: #e4e4e4;
  }
}

// SCROLLBAR
*::-webkit-scrollbar {
  width: 12px; /* ширина scrollbar */
}
*::-webkit-scrollbar-track {
  background: #fff; /* цвет дорожки */
}
*::-webkit-scrollbar-thumb {
  background-color: #a8a8a8; /* цвет плашки */
  &:hover {
    background-color: #8b8b8b;
  }
  &:active {
    background-color: #696969;
  }
  border-radius: 20px;
  border: 2px solid #fff; /* padding вокруг плашки */
}

@import "media";
